@charset "UTF-8";

html {
    font-size: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

.container {
    max-width: 1200px;
    margin-inline: auto;
}

.wrapper {
    max-width: 700px;
    margin-inline: auto;
}

/* mainvisual */

.mainvisual {
    background-image: url("../img/ugur-akdemir-XT-o5O458as-unsplash2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: relative;
}

.mainvisual img {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}

/* main */

.title {
    text-align: center;
    margin-block: 5rem;

}

.title h1{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.heading__items{
    display: flex;
}

.heading__item {
    position: relative;
}

.heading__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    padding: 2%;
}

.heading__text h2 {
    font-size: 1rem;
}


