@charset "UTF-8";

html {
    font-size: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

.container {
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 1rem;
}

.wrapper {
    max-width: 700px;
    margin-inline: auto;
    text-align: center;
    padding-inline: 1rem;
}

/* mainvisual */

.mainvisual {
    background-image: url("../img/ugur-akdemir-XT-o5O458as-unsplash2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: relative;
}

.mainvisual img {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}

/* main */

/* title */
.title {
    margin-block: 5rem;

}

.title h1{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

/* heading */

.heading {
    margin-bottom: 5rem;
}

.heading__items{
    display: flex;
    gap: 1rem;
}

.archive,
.new {
    position: relative;
    display: block;
    /* margin-inline: 1rem; */
}

.heading__item:hover {
    opacity: 0.8;
}

.heading__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    padding: 2%;
}

.heading__text h2 {
    font-size: 1.25rem;
}

/* item */

.item {
    background-image: url("../img/asal-lotfi-8ePZbdxnpi0-unsplash2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 40vh;
    width: 100%;
}

.item__text {
    padding-top: 2rem;
}
.item__text h2 {
    margin-bottom: 1rem;
}

.item__text p {
    margin-bottom: 1.5rem;
    font-size: 1rem;
}

.btn-readmore {
    color: #000;
    font-size: 0.75rem;
    text-decoration: none;
    border: 1px solid #000;
    display: inline-block;
    padding: 0.5rem 1.5rem;
}

/*info*/

.info {
    margin-top: 5rem;
    background-color: #F5F5F5;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 4rem; 
    padding-block: 6rem;
}

.contents {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.contents img {
    width: 50%;
}

.contents .content__text {
    width: 50%;
  /* text-align: center; */
}

.content__text h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.content__text p {
    padding-bottom: 2%;
    font-size: 0.75rem;
}

.content__text .btn-readmore {
    display: block;
    width: fit-content;
    margin: 2rem auto 0;
}

/* footer */

.footer__lists {
    background-color: #333333;
    /* height: 30vh; */
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;
    padding-block: 5rem;
}

.footer__wrapper img {
    max-width: 10rem;
    margin-right: 10rem;
    margin-block: 25%;
}

.footer__logo {
    width: 30%;
}

.footer__list {
    color: #fff;
}

.footer__list h3 {
    margin-bottom: 1rem;
}

.footer__list li,
.footer__list p {
    line-height: 1.5rem;
}

.footer__list li::before {
    content: "-";
}

.footer__list.center {
    width: 30%;
}


.footer__list.right {
    width: 30%;
    /* align-items: right; */
}

.footer__history{
    padding-block: 2rem;
    text-align: center;
}

/* resuponsive */
@media (max-width: 800px) {
   
    .heading__items {
        flex-direction: column;
        gap: 7rem;
    }

    .content {
        padding-inline: 1rem;
    }

    .contents {
        flex-direction: column;   
        /* align-items: stretch;  */
    }
    
    .contents img,
    .contents .content__text {
        width: 100%;
    }

    .contents img {
        order: 1;
    }

    .contents .content__text {
        order: 2;
    }

    .footer__wrapper {
        flex-direction: column;
        padding-block: 0;
    }

    .footer__logo,
    .footer__list.center,
    .footer__list.right {
        width: auto;
    }

    .footer__wrapper img {
        max-width: 10rem;
        margin-right: 0;
        margin-block: 0;
    }

    .footer__logo {
        padding-block: 3.5rem;
        text-align: center;
    }

    .footer__list.center {
        padding-bottom: 3rem;
    }

    .footer__list.right {
        padding-bottom: 5rem;
    }
}
