@charset "UTF-8";

body {
    font-family: "Raleway", sans-serif;
}

html {
    font-size: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

.wrapper {
    max-width: 800px;
    margin-inline: auto;
    padding-inline: 2%;
}

/* header */

header {
    max-width: 1000px;
    margin-inline: auto;
    padding-inline: auto;
    border-bottom: 1px solid #E1E1E1;
}

.site__title {
    text-align: center;
    margin-block: 4rem;
}

.site__title img {
    max-width: 10rem;
}

.heading__list {
    display: flex;
    justify-content: space-between;
    padding-block: 2.5rem;
    /* overflow-x: auto;
    overflow-x: scroll; */
}

.heading__list a {
    color: #000;
}

.heading__left {
    display: flex;
    gap: 1rem;
    margin-right: 2.5rem;
}

.heading__right {
    display: flex;
    gap: 1rem;
}

/* main */

.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 8rem;
}

.item__left img {
    width: 5rem;
}

.item__left {
    width: 50%;
}

.item__right {
    width: 50%;
}

/* item__info */

.item__info .item__title {
    padding-block: 1.5rem;
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
}

.item__info .item__text {
    margin-top: 1rem;
    line-height: 1.5rem;
}

.item__info .item__price {
    margin-block: 2rem;
}

.item__info h2 {
    font-size: 1rem;
}

.item__info p {
    font-size: 0.75rem;
}

/* size__option */

.option__table table {
    border-collapse: collapse;
}

.option__table {
    width: 100%;
    font-size: 0.75rem;
}

.option__table .color,
.option__table .size {
    width: 20%;
}

.option__table .sample {
    width: 60%;
}

.option__table td {
    border-bottom: 1px solid #E1E1E1;
    border-right: 1px solid #E1E1E1;
    padding: 0.75rem 1rem;
    text-align: center;
}

.option__table td:last-child {
  border-right: none;
}

.option__table tr:last-child td {
  border-bottom: none;
}

.option__table select {
  width: 100%;
  border: solid 1px #c3c3c3;
  padding-inline: 0.5rem;
  appearance: menulist;
}

.cart__btn {
    background-color: #4b4b4b;
    width: 100%;
    text-align: center;
    padding-block: 1rem;
    margin-block: 1rem;
}

.cart__btn a{
    color: #fff;
    font-size: 0.75rem;
}

/* size__info */

.size__info {
    font-size: 0.75rem;
}

.size__info table {
    border-collapse: collapse;
    width: 100%;
}

.size__info .size {
    width: 10%;
}

.size__info .cheat,
.size__info .weist,
.size__info .heigt {
    width: 30%;
}

.size__info th,
.size__info td {
    text-align: center;
    border: 1px solid #E1E1E1;
    padding: 0.75rem 1rem;
}

.size__info th {
    font-weight: normal;
    background-color: #ECEBEB;
}

/* footer */

footer {
    font-size: 0.5rem;
    text-align: center;
    margin-block: 2rem;
}

/* responsive*/
@media (max-width: 800px) {

    .info {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 8rem;
    }

    .size__option .option__table table {
        width:  100%;
    }

    .cart__btn {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .size__info .size {
        width: 17%;
}

    .size__info .cheat,
    .size__info .weist,
    .size__info .heigt {
        width: 28%;
}

}

@media (max-width: 515px) {
    .heading__list {
    overflow-x: scroll;
     }
}
