@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    font-family: "Noto Sans JP", sans-serif;
    color: #121212;
}

a {
    text-decoration: none;
    color: #121212;
}


ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

/* 共通 */

.container {
    margin-left: 20rem;
}

.wrapper {
    max-width: 60rem;
    margin: auto;
    padding: 5rem 1.25rem;
}

.sec__title {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.sec__title::before,
.sec__title::after {
    content: "";
    border-top: 1px solid #fff;
    width: 30%;
}

.flow .sec__title::before,
.flow .sec__title::after, 
.contact .sec__title::before,
.contact .sec__title::after { 
    border-top-color:#121212; 
}

.project .sec__title::before,
.project .sec__title::after,
.feature .sec__title::before,
.feature .sec__title::after { 
    border-top-color:#fff; 
}


/* header */
header {
    width: 20rem;
    /* height: 100%; */
    background-color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 3rem 3.5rem;
}

.site__title {
    width: 15rem;
    margin-bottom: 2rem;
}

.nav__menu {
    margin-bottom: 4rem;
}

header li {
    padding: 0.5rem 0;
}

/* video    */
.video {
    height: 100vh;
}

.bg__video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: bottom;
    position: fixed;
    top: 0;
    z-index: -10;
}

/* project */
.project {
    color: #fff;
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.8));
}

.project .list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.project .list li {
    position: relative;
}

.project .list .name {
    color: #fff;
    position: absolute;
    z-index: 5;
    bottom: 0.25rem;
    left: 0.5rem;
}

.project .list li a::after {
    position: absolute;
    content: "";
    box-shadow: 0 -2rem 1rem -0.1rem #2F3030 inset;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* feature */
.feature {
    background: rgba(0,0,0,0.8);
    color: #fff;
    padding-bottom: 5rem;
}

.feature .list {
    display: flex;
    justify-content: space-between;
}

.feature .list li {
    width: 30%;
}

.feature .list li a {
    width: 100%;
    border: solid 1px #fff;
    border-radius: 50%;
    color: #fff;
    display: block;
    line-height: 1rem;
    padding: calc((100% - 1rem)/2) 0;
    margin-bottom: 1rem;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.feature .list li a::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: -100%;
    opacity: 0.3;
    transition: 0.5s;
    pointer-events: none;
}

.feature .list li a:hover::before {
    left: 0;
}

.feature .list .title {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.feature .list p {
    text-align: center;
}

/* flow */
.flow {
    background-color: #fff;
    padding-top: 3rem;
}

.flow .step {
    display: flex;
    margin-top: 4rem;
}

.flow .figure {
    position: relative;
}

.flow .figure::before {
    position: absolute;
    content: "";
    width: 3rem;
    /* height: 37rem; */
    background-color: #FFDD00;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.flow .figure li {
    width: 12rem;
    height: 5rem;
    line-height: 5rem;
    background-color: #414141;
    color: #fff;
    margin-bottom: 4rem;
    position: relative;
    text-align: center;
}

.flow .figure li:last-child {
    margin-bottom: 0;
}

.flow .figure li::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-top: 1rem solid #414141;
    border-left: 6rem solid transparent;
    border-right: 6rem solid transparent;
}

.flow .description {
    margin-left: 10%;
}

.flow .description dt{
    border-bottom:solid 1px #121212;
    font-size: 1.25rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0.75rem;
    position: relative;
}

.flow .description dt span {
    position: absolute;
    width: 2rem;
    height: 2rem;
    color: #fff;
    /* line-height: 2rem; */
    background-color: #414141;
    border-radius: 50%;
    display: block;
    text-align: center;
    left: -2.5rem;
    bottom: 0;
}

.flow .description dd {
    margin-bottom: 2.5rem;
}
.flow .description dd {
    margin-bottom: 2.5rem;
}
.flow .description dd:last-child{
    margin-bottom: 0;
}

/* contact */
.contact {
    background-color: #fff;
    padding-bottom: 5rem;
}

.contact .link {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}

.contact .link .item {
    width: 30%;
    border: solid 1px #121212;
    display: block;
    font-size: 0.8rem;
    padding: 3rem 0;
    text-align: center;
    transition: 0.1s;
    position: relative;
}

.contact .link .item::before {
    position: absolute;
    content: "";
    border-top: 1rem solid transparent;
    border-right: 1rem solid #121212;
    right: 0.5rem;
    bottom: 0.5rem;
}

.contact .link .item:hover {
    outline: solid 3px #121212;
}

/* footer */
footer {
  background-color: #121212;
  color: #fff;
}

footer .menu {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

footer .menu li {
  border-right: solid 1px #fff;
  font-size: 0.8rem;
  padding: 0 1rem;
}

footer .menu li:last-child {
  border-right: none;
}

footer .menu li a {
  color: #fff;
}

footer .copyright {
  font-size: 0.75rem;
  text-align: center;
}

/* to-top */
.to-top {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #121212;
    border: solid 1px #fff;    
    border-radius: 50%;
    position: fixed;
    right: 1.25rem;
    bottom: 1.25rem;
}

.to-top::after {
    content: "";
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-bottom: 0.5rem solid #fff;
    position: absolute;
    transform: translate(-50%, -60%);
    left: 50%;
    bottom: 30%;
}

/* sp */
@media(max-width: 960px) {
    .container {
        margin-left: 0;
    }

    .wrapper {
        padding: 4rem 1.25rem;
    }

    .site__title {
        width: 12rem;
        margin-bottom: 0;
        position: relative;
        left: 1rem;
        top: 0.75rem;
    }

    .sec__title {
        font-size: 1.25rem;
        margin-bottom: 2rem;
    }

    .sec__title::before,
    .sec__title::after {
        width: 18%;
    }

    /* header */
    header {
        width: 100%;
        height: 5rem;
        padding: 0;
        z-index: 10;
    }

    /* ハンバーガーメニュー */
    #navi {
        width: 20rem;
        background: #fff;
        padding: 1.5rem;
        position: fixed;
        top: 0;
        left: -20rem;
        bottom: 0;
        opacity: 0;
        transition: all 0.5s;
        z-index: 20;
    }

    .open #navi {
        left: 0;
        opacity: 1;
    }

    #navi ul.nav__menu {
        margin-bottom: 2rem;
    }

    #navi ul li {
        padding: 0.5rem 0;
    }

    .hamburger {
        position: fixed;
        top: 1rem;
        right: 1rem;
        width: 2rem;
        height: 2rem;
        transition: all 0.5s;
        z-index: 20;
    }

    .hamburger span {
        position: absolute;
        display: block;
        width: 2rem;
        height: 2px;
        background-color: #121212;
        transition: all 0.5s;
    }

    .hamburger span:nth-child(1) {
        top: 4px;
    }

    .hamburger span:nth-child(2) {
        top: 14px;
    }

    .hamburger span:nth-child(3) {
        bottom: 4px;
    }

    .open .hamburger span {
        background-color: #fff;
    }

    .open .hamburger span:nth-child(1) {
        transform: translateY(10px) rotate(-315deg);
    }
    
    .open .hamburger span:nth-child(2) {
        opacity: 0;
    }
    .open .hamburger span:nth-child(3) {
        transform: translateY(-10px) rotate(315deg);
    }

    #mask {
        display: none;
        transition: 0.5s;
    }

    .open #mask {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        display: block;
        opacity: 0.8;
        z-index: 10;
        cursor: pointer;
    }

    /* video */

    /* project */
    .project .list{
        grid-template-columns: 1fr;
    }

    /* feature */
    .feature {
        padding-bottom: 2rem;
    }

    /* flow */
    .flow {
        padding-top: 0;
    }

    .flow .step {
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }

    .flow .figure li {
        width: calc(100vw - 5rem);
    }

    .flow .figure li::before {
        border-left-width: calc(50vw - 2.5rem);
        border-right-width: calc(50vw - 2.5rem);
    }

    .flow .description {
        margin-top: 3rem;
        margin-left: 3rem;
    }

    /* contact */
    .contact {
        padding-bottom: 2rem;
    }

    .contact .link {
        flex-direction: column;
        align-items: center;
        margin-top: 1.5rem;
    }

    .contact .link .item {
        width: 60%;
        margin: 1.5rem 0 0 0;
    }

    /* footer */
    footer .menu {
        flex-wrap: wrap;
    }

}