@charset "UTF-8";

 
html {
    font-size: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

.dish-recipe {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: 50% 50%;
}

.dish-photo img{
    width: 100%;
    height: 700px;
    object-fit: cover;
    display: block;
}

.recipe-text {
    padding: 40px 10% 0;
}

.recipe-title h1{
    font-size: 28px;
    margin-bottom: 24px;
}

.recipe-text h2{
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 15px;
    border-bottom:1px solid #CCCCCC;
    padding-bottom: 8px;
}

.material dl {
    display: flex;
    flex-wrap: wrap;
    /* letter-spacing: 0.3px; */
}

.material dt {
    width: 90%;
    border-bottom: 1px dotted #CCCCCC;
    padding-block: 6px;
}

.material dd {
    width: 10%;
    border-bottom: 1px dotted #CCCCCC;
    text-align: right;
    padding-block: 6px;
    letter-spacing: 3px;
}

.make ol {
    list-style-position: inside;
    /* letter-spacing: 0.3px; */
}

.make li{
    border-bottom: 1px dotted #CCCCCC;
    padding-block: 6px;
}

.btn-parent {
    text-align: center;
}

.btn {
    border:1px solid black ;
    color: black;
    display: inline-block;
    margin-block: 100px;
    padding: 20px 50px;
}

.sns-parent {
    text-align: center;
    margin-bottom: 10px;
    opacity: 0.8;
}

.sns-list {
    display: flex;
    justify-content: center;
    margin-inline: 6px;
}

.sns-list li{
    margin-inline: 12px;
    font-size: 14px;
    text-decoration:underline;
}

.sns-list a {
    color: black;
}
.history{
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
}

/* responsive */

@media (max-width: 800px) {
    .dish-recipe {
        display: grid;
        grid-template-columns:  1fr;
    }

    .recipe-text {
        padding-inline: 5%;
    }
} 
