@use 'variables' as v;
@use 'mixin' as m;

@keyframes bg-fall{

0%{
    background-position: 0 0;
}
100%{
    background-position: -700px 700px;
}
} 

#summary {
    margin-bottom: 8rem;
    padding: 4rem 0;
    background-image: url(../img/bg.gif) ;
    background-repeat: repeat;

    animation: bg-fall 15s linear infinite;

    .menu {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
        margin-inline: 5rem;

        li {
            border-radius: 15px;
            padding: 2rem 5rem;
            background-color: v.$white;
            // border: 1px solid #000;

            .menu__title {
                text-align: center;
                margin-bottom: 2rem;

                .ja {
                    display: block;
                    font-size: 1.75rem;
                }
                
                .en {
                    display: block;
                    font-size: 1.15rem;
                }
            }
        }
    }

    @include m.sp {
        margin-bottom: 5rem;

        .menu {
            grid-template-columns: 1fr;

            li {
                padding: 2rem;
            }

            .title {
                .ja {
                    font-size: 1.5rem;
                }

                .en {
                    font-size: 1rem;
                }
            }
        }
    }
}