@use 'variables' as v;
@use 'mixin' as m;

// pickup
#pickup {
    width: 100%;
    padding: 6rem 1rem 4rem;

    .slick__area {
        font-size: 0;
        img {
            width: 100%;
            object-fit: cover;
        }

        li {
            padding: 0 1rem;
        }
    }

    @include m.bp{
        padding: 5rem 0;
    }
}
