@use 'variables' as *;
@use 'mixin' as *;

// ==========================
// 共通事項
// ==========================
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

li {
  list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    vertical-align: bottom;
    max-width: 100%;
    // object-fit: cover;
    width: 100%;
}

