@charset "UTF-8";

html {
    font-size: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

/* header */

.container {
    max-width: 1000px;
    margin-inline: auto;
    padding-inline: 3%;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 7rem; */
    padding-block: 8rem;
}

.link-list ol{
    display: flex;
    gap:1.5rem;
    list-style: none;
}

.link-list li img{
    width: 1.5rem;
}

.link-list a {
    color: #000;
    font-size: 1rem;
}

/* mainvisual */

.mainvisual img{
    height: 60vh;
    width: 100%;
    object-fit: cover;
    margin-bottom: 7rem;
}

.pc{
  display: block;
}
.sp {
  display: none;
}

/* main */

.container h2 {
    text-align: center;
    margin-block: 3rem;
}

/* about */

.about {
    margin-bottom: 7rem;
}

.about .name {
    margin-bottom: 1rem;
}

.about .info{
    margin-bottom: 1rem;
}

/* works */

.works {
    margin-bottom: 7rem;
}

.wrapper {
  width: 100%;
  margin: 0 auto;  
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 0.5rem 1rem;
}

.wrapper img {
  width: 100%;
}

/*news*/

.news {
    margin-bottom: 7rem;
}

.news-item {
    padding: 1rem;
    border-top: 1px solid #ccc;
}

.news dl {
    display: flex;
    flex-wrap: wrap;
}

.news dt {
    width: 20%;
    border-bottom:1px solid #ccc;
    padding: 1rem;
}

.news dd {
    width: 80%;
    border-bottom:1px solid #ccc;
    padding: 1rem;
}

/* contact */

.contact {
    margin-bottom: 7rem;
}

 input,textarea {
    border: 1px solid #ccc;
 }

 .contact-form {
  max-width: 100%;
  margin: 0 auto;
}

.form-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.form-item label {
  width: 10rem;
}

.form-item input {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
}

.form-item textarea{
    width: 100%;
    box-sizing: border-box;
    padding: 2rem;
}

.contact-form input[type="submit"] {
  display: block;
  padding: 1rem 5rem;
  margin: 2rem auto 0;
  background-color: #24292E;
  color: #ffffff;
}

.contact-form input[type="submit"]:hover {
    background-color: #ffffff;
    color: #000;
}

/* footer */

footer {
    text-align: center;
    background-color: #24292E;
    color: #ffffff;
    font-size: 1rem;
    padding-block: 0.5rem;
}

/* responsive */
@media (max-width: 600px) {
    .pc{
        display: none;
    }

    .sp {
        display: block;
    }

    header {
        flex-direction: column;
        align-items: center;
        padding-block: 3rem;
    }

    .wrapper {
        width: 100%;
        margin: 0 auto;  
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.5rem 1rem;
    }

    .news dl {
        flex-direction: column;
    }

    .news dt {
        width: 100%;
        border-bottom:none;  
        padding: 0; 
    }

    .news dd {
        width: 100%;
        border-bottom:1px solid #ccc;
        padding: 0;
    }

    .form-item {
        flex-direction: column;
        align-items: start;
        margin-bottom: 1rem;
    }
}
