@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    padding-top: 5rem;
}

a {
    text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

/* 共通 */

.container {
    max-width: 1360px;
    margin-inline: auto;
    padding-inline: 3%;
}


.page__title h2 {
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 2rem;
}

.link-text {
    text-align: center;
    margin-top: 3rem;
}

.link-text a {
    color: #000;
    font-size: 0.9rem;
}

main {
    padding-top: 4rem;
    padding-bottom: 10rem;
}

/* header */
header  {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    align-items: center;
    width: 100%;
    height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

h1.site__title {
    line-height: 3rem;
}

.site__title a {
    width: 10rem;
    display: block;
}


.nav {
    position: fixed;
    top: 0;
    left: -20rem;
    color: #fff;
    padding: 2rem;
    transition: left .5s, opacity .5s;
    z-index: 20;
    opacity: 0;
}

.nav a {
    color: #fff;
}

.nav li {
    margin-bottom: 1rem;
}
/*  ハンバーガーメニュー */
.open .nav {
    left: 0;
    opacity: 1;
}

.toggle__btn {
    width: 2rem;
    height: 2rem;
    position: relative;
    cursor: pointer;
    z-index: 20;
}

.toggle__btn span {
  display: block;
  width: 30px;
  height: 2px;
  background-color: #333;
  transition: .5s;
  position: absolute;
}

.toggle__btn span:nth-child(1) {
  top: 10px;
}

.toggle__btn span:nth-child(2) {
  top: 18px;
}


.open .toggle__btn span {
  background-color: #fff;
}

.open .toggle__btn span:nth-child(1) {
  transform: translateY(4px) rotate(-45deg);
}


.open .toggle__btn span:nth-child(2) {
  transform: translateY(-4px) rotate(45deg);
}

.mask {
  display: none;
  transition: .5s;
}

.open .mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .8;
  z-index: 10;
  cursor: pointer;
}


/* footer */
footer a {
    color: #000;
    font-size: 0.75rem;
}

footer {
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    gap: 2rem;
}


/* top,products */

.items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

.item a {
    color: #000;
}

.item h3 {
    font-size: 0.75rem;
    font-weight: normal;
}

.item p {
    font-size: 0.75rem;
}

.page {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;
    font-size: 0.9rem;
}

.page a {
    color: #000;
    font-size: 0.9rem;
}

/* item */
.item__info {
    display: flex;
    gap: 3rem;
    max-width: 800px;
}

.item__info img {
    width: 50%;
}

.item__text {
    width: 50%;
}

.item__text dl {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 2rem;
}

.item__text dt{
    width: 40%;
    font-size: 0.75rem;
}

.item__text dd {
    width: 60%;
    font-size: 0.75rem;
}

.item__text p {
    padding-bottom: 2rem;
    font-size: 0.75rem;
}


/* about */

.about {
    max-width: 600px;
}

.about p {
    margin-bottom: 2rem;
}

/* company */

.company dl {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    font-size: 0.9rem;
}

.company dt  {
    width: 30%;
    padding-block: 1rem;
    border-bottom: 1px solid #F2F1F1;
}

.company dt:last-of-type {
    border-bottom: none;
}

.company dd {
    width: 70%;
    padding-block: 1rem;
    border-bottom: 1px solid #F2F1F1;
}

.company dd:last-of-type {
    border-bottom: none;
}

.company .map iframe {
  /* width: 100%; */
  height: 300px;
}

/* sp */
@media (max-width: 900px) {
    .items {
        grid-template-columns: repeat(2, 1fr);
    }

    .item__info {
        flex-direction: column;
    }

    .item__info img,
    .item__text {
        width: 100%;
    }

    .company dl {
        flex-direction: column;
    }

    .company dt {
        width: 100%;
        border-bottom: none;
        padding-bottom: 5px;
    }
    
    .company dd {
        width: 100%;
        padding-top: 5px;
    }

    footer {
        flex-direction: column;
    }

    footer .menu {
        margin-bottom: 8px;
    }

}
